bfail 23 "..\common\bfail.html"
berror 23 "..\common\berror.html"
xxm 999 "..\public\xxm.pas"
xxmFReg 999 "..\public\xxmFReg.pas"
xxmSession 999 "..\public\xxmSession.pas"
xxmString 999 "..\public\xxmString.pas"
Web_dpr_proto 999 "..\bin\proto\Web.dpr"
xxmp_pas_proto 999 "..\bin\proto\xxmp.pas"
xxm_pas_proto 999 "..\bin\proto\xxm.pas"
xxmi_pas_proto 999 "..\bin\proto\xxmi.pas"
