BODY {font-family:Candara,Tahoma,sans-serif;font-size:13pt;color:black;background-color:white;}
.nav {background-color:#CCCCCC;padding:2pt;}
DL DT {font-weight:bold;margin-bottom:0.5em;}
DL DD {margin-bottom:1em;}
CODE {font-family:Consolas,Lucida Console,monospace;background-color:#CCFFCC;}
.title {background-color:#99FF99;border-bottom:1px solid #99CCCC;padding:0.2em;}
.title2 {background-color:#FFFFCC;border-bottom:1px solid #CCCC99;padding:0.2em;}
.warning {border:1px solid red;padding:0.5em;background-color:#FFFFCC;font-style:italic;}
.newver {background-color:#FFCC00;border:1px solid #CC9900;font-size:10pt;padding:0.1em;}
TH{background-color:#CCCCCC;border-bottom:1px solid #999999;}