bfail 23 "bfail.html"
berror 23 "berror.html"
xxm 999 "..\\bin\\public\\xxm.pas"
xxmFReg 999 "..\\bin\\public\\xxmFReg.pas"
xxmSession 999 "..\\bin\\public\\xxmSession.pas"
xxmString 999 "..\\bin\\public\\xxmString.pas"
Web_dpr_proto 999 "..\\bin\\proto\\Web.dpr"
xxmp_pas_proto 999 "..\\bin\\proto\\xxmp.pas"
xxm_pas_proto 999 "..\\bin\\proto\\xxm.pas"
xxmi_pas_proto 999 "..\\bin\\proto\\xxmi.pas"
